.menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 1100px;
}

.social-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.social-icon {
    display: inline-block;
    padding-left: 10px;
}

.social-icon a{
    display: block;
    height: 32px;
    transition: background box-shadow  .1s;
}

.social-icon a:hover {
    background-color: rgba(153, 61, 110, .5);
    box-shadow: 5px -1px 10px rgba(153, 61, 110, 0.3);
}

.icon {
    box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
}

.main-manu-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .9);
    align-content: center;
    justify-content: space-between;
    box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
    width: 100%;
}

.logo-main-menu {
    width: 200px;
}

.item-main-menu, .logo-main-menu {
    display: inline-block;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.item-main-menu a {
    display: block;
    text-transform: uppercase;
    padding: 9px 13px;
    color: #717171;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.item-main-menu a:hover {
    background-color: rgba(153, 61, 110, .7);
    color: white;
}

.banner {
    background-size: cover;
    background-position: center top;
    background-color: transparent;
    background-repeat: no-repeat;
    /* height: 100%; */
    width: 100vw;
    background-image: url("../img/banner_one.jpg");
    animation: slide 10s linear 2s infinite alternate;
    /* animation-fill-mode: both; */
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0%, 30% {
        background-image: url("../img/banner_one.jpg");
    }
    35%, 65% {
        background-image: url("../img/banner_two.jpg");
    }
    70%, 100% {
        background-image: url("../img/banner_three.jpg");
    }
}

/*https://www.youtube.com/watch?v=eTELLTacg-8*/