@charset "UTF-8";
/* sass css/_home.scss css/home..css */
body {
  /*CONFIGURAÇÕES GLOBAIS */
}
@media (max-width: 575px) {
  body .main-container {
    display: grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: "header main" "footer footer";
  }
  body header {
    grid-area: header;
    justify-content: flex-start;
  }
  body main {
    grid-area: main;
  }
  body footer {
    width: 100vw;
    background-color: #39192a;
    color: #f3f2f2;
  }
  body footer a {
    color: #f3f2f2;
    padding: 2px 0;
    font-weight: bolder;
    text-decoration: underline;
  }
  body .banner, body .social-menu {
    display: none;
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
  }
  body .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(153, 61, 110, 0.7);
    color: #717171;
  }
  body .main-manu-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
    height: 90vh;
  }
  body a.logo-main-menu {
    display: block;
    margin-bottom: 10px;
  }
  body .main-menu-icons {
    display: none;
  }
  body img#logo {
    width: 100%;
  }
  body .main-menu {
    display: flex;
    flex-direction: column;
  }
  body .item-main-menu {
    align-self: flex-start;
    padding-left: 10px;
  }
  body .item-main-menu a {
    display: block;
    padding: 10px 10px;
    color: #717171;
  }
}
@media (min-width: 576px) {
  body {
    /*.social-icon {
        display: inline-block;
        padding-left: 10px;
    }

    .social-icon a{
        display: block;
        height: 32px;
        transition: background box-shadow  .1s;
    }

    .social-icon a:hover {
        background-color: rgba(153, 61, 110, .5);
        box-shadow: 5px -1px 10px rgba(153, 61, 110, 0.3);
    }

    .icon {
        box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
    }*/
  }
  body .main-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 23vh 67vh 10vh;
    grid-template-areas: "header" "main" "footer";
  }
  body header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darksalmon;
  }
  body main {
    background-color: gray;
    grid-area: main;
  }
  body footer {
    background-color: cornflowerblue;
    grid-area: footer;
  }
  body .menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
  }
  body .social-menu {
    display: none;
  }
  body .main-manu-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
  }
  body .logo-main-menu {
    display: inline-block;
    margin: auto;
  }
  body a.logo-main-menu {
    background-color: rgba(255, 255, 255, 0.7);
  }
  body .main-menu {
    display: none;
  }
  body .main-menu-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
    margin: 0 auto;
  }
  body .item-main-menu-icons {
    display: inline-block;
    margin: 10px;
  }
  body .item-main-menu-icons a {
    padding: 1px 5px 0px 5px;
    font-size: 26px;
    color: #918f8f;
  }
  body .item-main-menu-icons span {
    vertical-align: initial;
  }
  body .banner {
    background-size: cover;
    background-position: center top;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 80%;
    background-image: url("../img/banner_one.jpg");
    animation: slide 10s linear 2s infinite alternate;
    animation-timing-function: ease-in-out;
  }
}
@media (min-width: 768px) {
  body .main-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 50vh 10vh;
    grid-template-areas: "header" "main" "footer";
  }
  body header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darksalmon;
  }
  body main {
    background-color: gray;
    grid-area: main;
  }
  body footer {
    background-color: cornflowerblue;
    grid-area: footer;
  }
  body .menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    max-width: 1100px;
  }
  body .banner {
    background-size: cover;
    background-position: center top;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 80%;
    background-image: url("../img/banner_one.jpg");
    animation: slide 10s linear 2s infinite alternate;
    animation-timing-function: ease-in-out;
  }
  body .social-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  body .social-icon {
    display: inline-block;
    padding-left: 10px;
  }
  body .social-icon a {
    display: block;
    height: 32px;
    transition: background box-shadow 0.1s;
  }
  body .social-icon a:hover {
    background-color: rgba(153, 61, 110, 0.5);
    box-shadow: 5px -1px 10px rgba(153, 61, 110, 0.3);
  }
  body .icon {
    box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
  }
  body .main-manu-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
    width: 100%;
  }
  body .logo-main-menu {
    width: 200px;
  }
  body .item-main-menu, body .logo-main-menu {
    display: inline-block;
  }
  body .main-menu-icons {
    display: none;
  }
  body .main-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
  }
  body .item-main-menu a {
    display: block;
    text-transform: uppercase;
    padding: 9px 13px;
    color: #717171;
  }
}
body a.logo-main-menu:hover {
  background-color: rgba(61, 58, 58, 0.1);
}
body .item-main-menu a:hover {
  background-color: rgba(153, 61, 110, 0.7);
  color: white;
}
body .item-main-menu .active, body .item-main-menu .active:hover {
  background-color: #993d6e !important;
  color: white !important;
}
body .item-main-menu-icons a:hover {
  background-color: rgba(153, 61, 110, 0.7);
  color: white !important;
}
body .item-main-menu-icons .active, body .item-main-menu-icons .active:hover {
  background-color: #993d6e !important;
  color: white !important;
}
body .banner {
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 100vw;
  background-image: url("../img/banner_one.jpg");
  animation: slide 10s linear 2s infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes slide {
  0%, 30% {
    background-image: url("../img/banner_one.jpg");
  }
  35%, 65% {
    background-image: url("../img/banner_two.jpg");
  }
  70%, 100% {
    background-image: url("../img/banner_three.jpg");
  }
}

/*# sourceMappingURL=home.css.map */
