html, body, div, ul, li, a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

a {
    text-decoration: none;
}


































































/****               CONTAINER
> display: grid;
> grid-template-columns;
> grid-template-rows;
> grid-gap (não usa mais)
    - grid-column-gap    
    - grid-row-gap
> grid-template-areas;


===> alinha o grid em relação ao espaço fora do grid
justify-content
align-content

===> alinha o item em relação ao espaço dentro da célula especificada no grid para o próprio item
justify-items
align-items
*/



/****               ITEM(S)
> grid-column;
    -grid-column-start;
    -grid-column-end;
> grid-rows;
    -grid-rows-start;
    -grid-rows-end;
> grid-template-rows;
> grid-area;


===> alinha o item em relação ao espaço dentro da célula especificada no grid para o próprio item
justify-self
align-self

*/