html, body, div, ul, li, a, p, span, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

a {
    text-decoration: none;
}