/* sass src/app/home/_home.scss src/app/home/home.css */


@import '../breakpoint';

header {
    transition-timing-function: linear;
    transition-duration: 2s;
}

.logo-main-menu:hover {
    background-color: rgba(61, 58, 58, 0.1);
}

.item-main-menu a.active, .item-main-menu a.active:hover {
    background-color: rgb(153, 61, 110) !important;
    color: white !important;
}

.item-main-menu a:hover {
    background-color: rgba(153, 61, 110, .5) !important;
    color: white !important;
}

.banner {
    background-size: cover;
    background-position: center top;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url("../../assets/img/banner_one.jpg");
    animation: slide 10s linear 2s infinite alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0%, 30% {
        background-image: url("../../assets/img/banner_one.jpg");
    }
    35%, 65% {
        background-image: url("../../assets/img/banner_two.jpg");
    }
    70%, 100% {
        background-image: url("../../assets/img/banner_three.jpg");
    }
}    


body {
    @include breakpoint(small-only){ // <576px (xs)
        .main-container {
            display: grid;
            grid-template-columns: 35vw 65vw;
            grid-template-rows: 100vh;
            grid-template-areas: 
            "header main";
        }
            
        header {
            grid-area: header;
            justify-content: flex-start;
        }
            
        main {
            grid-area: main;
        }

        .menu {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: rgba(153, 61, 110, .7);
            color: #717171;
        }
    
        .main-manu-container {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            background-color: rgba(255, 255, 255, .7);
            box-shadow: 5px 10px 5px rgba(97, 96, 96, 0.3);
            height: 99vh;
        }
    
        .logo-main-menu{
            display: block;
            padding-bottom: 10px;
        }

        #logo {
            width: 100%;
        }
    
        .main-menu {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            align-items: flex-start;
        }
    
        .item-main-menu a {
            display: block;
            padding: 10px 10px;
            color: #717171;
        }
    
        .banner, .social-menu, footer {
            display: none;
        }
    }

    @include breakpoint(small-up){ // ≥576px (sm)
        .main-container {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 23vh 67vh 10vh;
            grid-template-areas: 
            "header"
            "main"
            "footer";
        }
        
        header {
            grid-area: header;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        main {
            grid-area: main;
        }
        
        footer {
            grid-area: footer;
            display: flex;
            align-items: center;
            background-color: #993d6e;
        }

        footer p {
            color: white;
            margin-left: 5px;
        }

        footer a {
            color: rgb(37, 4, 22);
            font-weight: bold;
        }

        .menu {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            padding-top: 28px;
            margin: auto 0px;
            max-width: 600px;
        }
        
        .social-menu {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        
        .social-icon {
            display: inline-block;
            padding-left: 10px;
        }
        
        .social-icon a{
            display: block;
            height: 32px;
            transition: background box-shadow  .1s;
        }
        
        .social-icon a:hover {
            background-color: rgba(153, 61, 110, .5);
            box-shadow: 5px -1px 10px rgba(153, 61, 110, 0.3);
        }
        
        .icon {
            box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
        }
     
        .main-manu-container {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, .7);
            box-shadow: 5px -1px 10px rgba(97, 96, 96, 0.3);
            width: 100%;
        }
        
        .logo-main-menu {
            display: inline-block;
            width: 200px;
            margin: 0 auto;
            border-left: .5px solid rgb(102 111 108 / 30%);
            border-right: .5px solid rgb(102 111 108 / 30%);
        }

        .main-menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 auto;
        }
        
        .item-main-menu {
            display: inline-block;
        }
        
        .item-main-menu a {
            display: block;
            text-transform: uppercase;
            padding: 9px 13px;
            color: #717171;
        }
        
        .banner {
            background-size: cover;
            background-position: center top;
            background-color: transparent;
            background-repeat: no-repeat;
            width: 100vw;
            background-image: url("../../assets/img/banner_one.jpg");
            animation: slide 10s linear 2s infinite alternate;
            animation-timing-function: ease-in-out;
        }
    }

    @include breakpoint(medium-only){  // ≥768 px (md)
        .main-container {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 27vh 60vh 13vh;
            grid-template-areas: 
            "header"
            "main"
            "footer";
        }
        
        .menu {
            max-width: 750px;
        }
       
        .main-menu {
            margin: 0;
            padding-right: 5px;
        } 

        .logo-main-menu {
            margin: 0;
            border-left: .5px solid rgb(102 111 108 / 30%);
            border-right: .5px solid rgb(102 111 108 / 30%);
    }
    }

    @include breakpoint(medium-up){  // ≥992 px (lg)
        .main-container {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 30vh 60vh 10vh;
            grid-template-areas: 
            "header"
            "main"
            "footer";
        }
        
        .menu {
            max-width: 970px;
        }
    }

}